* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh; 
    background-color: #f0f0f0;
}

.header{
    margin-bottom: 20px;
}

.contenedor {
    width: 100%;
    max-width: 1200px;

}

.contenedor__logo {
   margin: 0px 90px 0px 0px ;
   width: 10%;
   background-color: red;
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: center;

}

.contenedor__titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2% 0% 1% 12%;
    max-width: 577px;
    color: #0A3871;
    text-align: center;
    background-color: blue;
    
}

.contenedor__traduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    width: 100%;
    max-width: 400px;
    padding: 40px 10px 40px 10px;
    height:400px;
    justify-content: center;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    margin-left: 75%;
}

.contendor__texto__traduccion{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto__traduccion{
    font-size: 24px;
    font-weight: bold;
}

.h4{
    font-size: 16px;
}

.img__traduccion {
    width: 236px;
    height: 204px;
}

.msg__advertencia {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenedor__botones {
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 885px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 24px;
}

.contenedor__msg__advertencia

.btn__encriptador {
    color: white;
    background-color: #0A3871;
    padding: 20px 60px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.btn__desencriptador {
    color: #0A3871;
    background-color: #D8DFE8;
    padding: 20px 60px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
