* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  
}

::selection {
  background-color: #0a3871;
  color: #fff;
}

/* Encabezado */
.header {
  position: absolute;
  margin: 40px 0px 0px 40px;
}

.contenedor__logo {
  display: flex;
  align-items: flex-start;
  width: 120px;
  height: 48px;
}

main {
  display: flex;
  flex-direction: row;
/*   background-color: green;
 */  width: 100%;

}

/* Seccion  1*/
.texto__encriptador {
  width: 100%;
  margin: 1px 0px 0px 90px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  

}

.encriptar {
  width: 770px;
  height: 288px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  border:1px solid black;
  border-radius: 15px;
  resize: none;
  
}

.encriptar::placeholder,
:focus {
  color: #0a3871;
}

.contenedor__msg__advertencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.msg__advertencia {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.8;
  color: #67808e;
}

.contenedor__encriptador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 15%;
    box-shadow: 10px 24px 32px -8px #343a40;

}

/* Seccion 2 */

.contenedor {
 /*  background-color: red; */
  box-shadow: 10px 24px 32px -8px #343a40;
 /*  width: 100%; */
}

.contenedor__traduccion {
    padding: 30px;
  margin: auto;
  margin-top: 20%;
  background: #fff;
  border-radius: 10%;
  background-color: blue;
 box-shadow: 10px 24px 32px -8px #343a40; 
}

.img__traduccion {
  background: #fff;
}

.texto__traduccion {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #67808e;
  background: #fff;
}

/* Botones */
.btn__encriptador {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px black;
  }
  
  /* .btn__encriptador:active{
      box-shadow: inset 2px 2px 4px #C5C5C5,inset -3px -4px 8px #0A3871;
      color: #67808E;
  
  } */
  .btn__desencriptador {
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
    background: #c5c5c5;
    border: 1px solid #0a3871;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px black;
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}